;;;; Example config for clojure.tw
;; You need to change the config for your application, this config can't really
;; use.
{:gitter {:rom-id "xaxc876119x6c7xx89xxb3xxe"
          :api-key "xxx0axxe2xxbxxf2ba2xxx7ffxxxa278xxx8f47"}
 :irc    {:server "irc.freenode.net"
          :port 6667
          :channel "#test-bot"
          ;; enable this to see raw-stdout
          :debug true }
 :telegram {:token "YOUR-TELEGRAM-TOKEN"
            :chat-id "YOUR-CHATROOM-ID"}}
